@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-exactfamily: 'Roboto', sans-serif;


    --nav-box-shadow:rgba(0, 0, 0, 0.35);
    --bg-orangered:#fc5510;
    --white:#ffff;
    --space: 18px;
    --black:#000;
    --grey:187, 181, 181;
    --ug:14px;
    --greyscale-2: 102 102 102;
    --greyscale-5: 230 230 230;
    --neutral-200: 222 229 236;
    --mono-black: rgba(41, 48, 53, 0.22);
    --blue:#191970;
    --bg-light-orangered: #fce8e8;
    --gray: #f3f4ff;
    --bg-light-lrnfrmtr-white:#ECF0F9;
    --kh:14px;
    --mono-black: 12 22 32;
    --neutral-black:rgba(79, 104, 130);
    --neutral-grey: rgba(30, 45, 62);
    --text-shinywhite: #F2F7FF;
    --color-accent-light: #00DBDE;
    --color-accent-dark: #FC00FF;
    --color-secondary: #ccc;

    --text-color-default: #2c2c2c;
    --text-color-light: #fff;

    --font-size-default: 15px;
    --font-size-lg: 25px;

    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-default: var(--font-weight-regular);

    --border-color-default: var(--color-secondary);
    --border-color-accent: var(--color-accent-dark);

    --bg-color-default: #fff;
    --bg-color-dark: #2c2c2c;
    --bg-color-accent--lignt: var(--color-accent-light);
    --bg-color-accent--dark: var(--color-accent-dark);

    --transition-duration: .2s;
    --transition-timing-function: linear;
    --transition-delay: 0s;

    --negative-multiplier: -1;

    --gradient-default: linear-gradient(122deg, var(--color-accent-light) 0%, var(--color-accent-dark) 100%);
    --bg-darkblue:var(--blue);
   
        --gradient-orange: linear-gradient(122deg, #ff7f50 0%, #ff4500 50%, #ff0080 100%);
        --carousel-width: 110px; 
        --carousel-height: 15vh; 
        --carousel-quantity: 10;
        --carousel-duration: 15s;
        --bg-red:#dc3545 ;
        --nav-hover:rgb(220 53 69);
      
}   



